:root{
    --header:#C0C0C0;
    --body:#EEEEEE;
    --text:#2c2a2a;
    --title:#1D2E41;
    --primary-color:#FF0037;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins" , sans-serif;
    color: var(--text);
    font-size: 62.5%;
    min-height: 100vh;
}

a{
    color: var(--text);
    text-decoration: none;
}

li{
    list-style: none;
    color: var(--text);
    
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

p{
    color: var(--text);
}

footer{
    margin-top: auto;
    width: 100%;
    display: flex;
    padding: 32px;
    background: var(--body);
    justify-content: center;
    align-items: center;
}

footer p{
    font-size: 1rem;
    color: #484F57;
}

footer p.spotlight{
    color: var(--title);
    margin-left: .6rem;
    font-weight: 600;
}