header{
    width: 100%;
    top: 0;
    left: 0;
    min-height: 10vh;
    padding: 12px 24px;
    background: var(--header);
    position: fixed;
    z-index: 2;
    display: grid;
    grid-template-columns:220px 1fr 280px;
    align-items: center;
}

/* Logo */

header .logo-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header .logo-container h1{
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: .8rem;
    letter-spacing: .8px;
}

header .logo-container img{
    width: 20%;
}

/* Navegação */ 

nav.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.links ul{
    display: flex;
    justify-content: space-between;
    width: 85%;
}

nav.links ul a{
    font-size: .9rem;
    font-weight: 600;

}

nav.links ul a {
    position: relative;
}

nav.links ul a::after{
    content:"";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left:0;
    background: #0000bb;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease;
    transition-delay: 0;
}

nav.links ul a:hover::after{
    width: 100%;
}
/* Filtro */

header .filter{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .filter .search{
    padding: 12px 24px;
    width: 90%;
    border-radius: 4px;
    border: 1px solid #2b2727;
    background: none;
    color: var(--text);
    outline: none;
    box-shadow: 2px 2px 4px -4px rgba(0, 0, 0, 0.4);
}

header .filter:focus-within .search::placeholder{
    visibility: hidden;
}


header .filter .search::placeholder{
    color: var(--text);
    padding-left: 1.2rem;
}

header .filter i{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 300;
    color: #2b2727;
    transition: transform 200ms  ease;
}

header .filter:focus-within i{
    transform: translate(-50%,-50%);
}
