@media(max-width:1200px){
    html{
        font-size:85%;
    }
}

@media(max-width:1057px){


    
    header{
        grid-template-columns: 220px 1fr 80px;
    }
    /* Links */

    .menu-section{
        grid-column: 3/4;
        display:flex;
        justify-content:flex-end;
        margin-bottom: 8px;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;

    }

    nav.links{
        display:none;
    }


    .one,.two,.three{
        background-color:var(--title);
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 300ms;

    }

    .menu-section.on{
        position: absolute;
        top: 0;
        right: -30%;
        background-color: var(--header);
        width: 150vw;
        height:100vh;
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 60vw;
    }

    .menu-section.on .links{
        display: block;
    }
    
    .menu-section.on .links ul{
        display: block;
        text-align:center;
    }

    .menu-section.on .links ul a{
        transition-duration: 500ms;
        color: var(--title);
        font-size: 3rem;
        line-height: 8rem;
        display: block;
    }

    
    .menu-section.on .menu-toggle{
        position:absolute;
        right:25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one{
        transform:rotate(45deg) translate(7px , 7px);
    }

    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three{
        transform:rotate(-45deg) translate(8px , -9px);
    }

    /* Filtro */

    .filter{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    header .filter .search::placeholder{
        color: var(--text);
        padding-left: 1.6rem;
    }
}

@media (max-width:980px){
    .release-section .info{
        text-align: center;
        font-size: 1rem;
    }
    .final-section{
        display: block;
    }
}

@media (max-width:735px){
    .review-section .reviews-grid .review .footer-review {
        margin-top: 2rem;
    }
}