.final-section{
    min-height: 90vh;
    width: 100%;
    display: grid;
    grid-template-rows: 40px 1fr 100px;
    grid-template-columns: 2fr 1fr;

    gap: 24px;
    margin-top: 3vh;
    padding: 0 7rem;
}

.news-section h1,
.about h1,
.editorial h1{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.2rem 0 2rem;
}

.news-section .news-grid{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 32px;
}

.news-section .news-grid .news{
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.news-section .news-grid .news::after{
    content:"";
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #B9B9B9;
}

.news-section .news-grid .news:nth-child(3)::after{
    display: none;
    visibility: hidden;
}

.news-section .news-grid .news .picture{
    width: 100%;
    height: 100%;
    min-width: 200px;
    max-width: 200px;
    object-fit: cover;
}
.news-section .news-grid .news .picture img{
    width: 100%;
    height: 100%;
}

.news-section .news-grid .news .info{
    display: grid;
    grid-template-rows: 40px 1fr 30px;
    gap: 8px;
    padding-left: .8rem;
    color: black;
}

.news-section .news-grid .news .info h3{
    font-size: 1rem;
    font-weight: 600;
    color: var(--title);
}

.news-section .news-grid .news .info p{
    font-size: 0.75rem;
}

.news-section .news-grid .news .info .tags{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.news-section .news-grid .news .info .tags p{
    padding: 8px 12px;
    background: #828282;
    color: #F9F9F9;
    border-radius: 24px;
    font-weight: 600;
}

.about{
    text-align: left;
}

.about .info{
    font-size: 1rem;
    
}

.about .editorial span{
    display: flex;
    justify-content: left;
    font-size: .9rem;
    align-items: center;
}

.about .editorial span i{
    color: var(--title);
    margin-right: .4rem;
}

.about .social-medias {
    margin-top: 2rem;
}

.about .social-medias h3,
.about .social-medias .socials span{
    color:var(--title);
    font-size:1.3rem;
}

.about .social-medias .socials span{
    font-size: 2rem ;
    cursor: pointer;
}

.about .social-medias .socials {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 30%;
}