.release-section{
    margin-top: 10vh;
    min-height: 90vh;
    width: 100%;
    background: var(--body);
    display: grid;
    grid-template-rows: 80px 1fr 80px;
}

.release-section .title{
    align-self: center;
    justify-self: center;
}

.release-section h1{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--title);
}

.release-section .content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    gap: 18px;
    padding: 1.2rem 2.2rem;
}

.release-section .content .video{
    width: 100%;
}

.release-section .content .video iframe{
    width: 100%;
}
.release-section .info{
    display: grid;
    grid-template-rows: 40px 100px 20px 60px 40px;
    gap:20px;
    max-width: 960px;
    width: 100%;
}

.release-section .info .sinopse,
.release-section .info .staff,
.release-section .info .rating{
    font-size: 0.8rem;
}

.release-section .info .drp{
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
}


.release-section .info .staff > p{
    margin-bottom: .8rem;
}

.outlined{
    color:#52525285;
}


.release-section .carousel{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.release-section .carousel ul{
    display: flex;
    justify-content: space-between;
    width: 8%;
}

.release-section .carousel ul li input{
    width: 1rem;
    height: 1rem;
    position: relative;
    cursor: pointer;
}

.release-section .carousel ul li input::before{
    content:"";
    background: #C6C6C6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    transition: background 200ms ease;

}

.release-section .carousel ul li input:checked::before{
    background: #525252;
}
